* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
}

header {
    top: 0;
    left: 0;
    padding: 0 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 5, 32);
}

header .logo {
    font-size: 35px;
    color: bisque;
    margin: .5rem;
    font-weight: bold;
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    font-size: 32px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: bisque;
    padding: 1rem;
    display: block;
}

header nav ul li a:hover {
    background-color: #555;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    padding: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-align: center;
}

@media (max-width: 900px) {
    header {
        margin-right: 10px;
        padding: 0 20px;
        display: flex;
        width: 100%;
    }
    header .logo {
        font-size: 32px;
        color: bisque;
        margin: 10px;
        font-weight: bold;
        float: left;
    }
    nav ul {
        display: absolute;
        width: 100%;
        background: rgb(5, 5, 32);
        left: 0;
        display: flex;
        justify-content: right;
    }
    nav ul li {
        display: block;
        margin: 15px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 22px;
    }
    nav ul li a:hover {
        background-color: #555;
    }
}

@media (max-width: 500px) {
    header {
        margin-right: 10px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    header .logo {
        font-size: 32px;
    }
    nav ul {
        display: absolute;
        width: 100%;
        background: rgb(5, 5, 32);
        left: 0;
        display: flex;
        justify-content: right;
    }
    nav ul li {
        display: block;
        margin: 15px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 10px;
    }
    nav ul li a:hover {
        background-color: #555;
    }
}